body {
  background-color: rgb(255, 255, 255);
  font: 300 1em/1.38 Lato;
  color: rgb(0, 0, 0);
}

.bio-1 p,
.bio-2 p,
.bio-5 p,
.container p,
.details-1 p {
  margin-bottom: 1em;
}

.accomadotions {
  position: relative;
  float: left;
  clear: both;
  z-index: 74;
  width: 100%;
  margin-top: 1000px;
  padding-bottom: 100px;
  background-color: rgb(255, 250, 245);
}

.accomadotions .down-arrow,
.jeffs-story .down-arrow,
.nicoles-story .down-arrow,
.the-proposal .down-arrow {
  width: 12%;
  margin: 60px 0 0 44%;
  line-height: 1.38;
  color: rgb(122, 64, 196);
}

.accomadotions .section {
  float: left;
  width: 66.3997395833%;
  margin: 79px 0 0 16.79948%;
  text-align: center;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.bio {
  float: left;
  line-height: 1.38;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  clear: both;
  z-index: 78;
  width: 25.5989583333%;
  height: 404px;
  margin: 41px 0 0 16.83073%;
}

.container .details {
  width: 99.7362012987%;
  margin-left: -0.12716%;
}

.crowd-fund {
  position: relative;
  float: left;
  z-index: 79;
  width: 32.4166666666%;
  height: 404px;
  margin: 41px 0 0 8.40365%;
  border: 5px solid rgb(255, 255, 255);
  background: url('../images/love-hearts-herzen-island-maldives-landscape.jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.date {
  float: left;
  width: 39.19921875%;
  min-height: 102px;
  margin: 252px 0 0 30.39974%;
  font: 400 3.375em/1.38 JaneAusten;
  text-align: center;
  color: rgba(122, 64, 196, 0.3);
}

.description {
  float: left;
  clear: both;
  width: 66.4005208333%;
  min-height: 83px;
  margin: 10px 0 0 16.79948%;
  font-size: 1em;
  line-height: 1.38;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.details {
  float: left;
  min-height: 258px;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.down-arrow {
  float: left;
  clear: both;
  font-family: Helvetica;
  font-size: 5.625em;
  font-weight: 400;
  text-align: center;
}

.empty-pic {
  float: left;
  width: 18.8333333333%;
  height: 220px;
  margin-left: 1.5%;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.gifts {
  position: relative;
  float: left;
  clear: both;
  z-index: 80;
  width: 100%;
  margin-top: 900px;
  padding-bottom: 300px;
  background-color: rgb(255, 250, 245);
}

.gifts .section {
  float: left;
  width: 66.3997395833%;
  margin: 100px 0 0 16.79948%;
}

.hero-date {
  float: left;
  clear: both;
  min-height: 30px;
  margin-left: 51.1849%;
  font: normal 1.75em/1.38 JaneAusten;
  color: rgb(122, 64, 196);
}

.hero-form {
  float: left;
  clear: both;
  width: 82.8125%;
  height: 60px;
  margin: 500px 0 0 8.49935%;
}

.herotitle .down-arrow {
  width: 15%;
  min-height: 67px;
  margin: 41px 0 0 42.49837%;
  line-height: 1;
  color: rgb(255, 255, 255);
}

.herotitle .herotitle {
  width: 100%;
  margin: 0 auto;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.65);
  font: normal 4.125em/1 JaneAusten;
  text-align: center;
  color: rgb(255, 255, 255);
}

.hotel {
  float: left;
  clear: both;
  min-height: 57px;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  color: rgb(0, 0, 0);
}

.hotel-block {
  position: relative;
  float: left;
  width: 32.4166666666%;
  height: 508px;
  margin-top: 100px;
  border: 4px dashed rgba(122, 64, 196, 0.3);
  background-color: rgb(255, 250, 245);
}

.hotel-block .text {
  float: left;
  clear: both;
  width: 69.028871391%;
  margin-left: 15.46916%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.jeffs-story {
  position: relative;
  float: left;
  clear: both;
  z-index: 36;
  width: 100%;
  margin-top: 900px;
  padding-bottom: 100px;
  background-color: rgb(255, 250, 245);
}

.jeffs-story .section,
.nicoles-story .section {
  float: left;
  width: 80%;
  margin: 100px 0 0 10%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(122, 64, 196, 0.3);
  text-align: center;
}

.jeffs-story .story {
  width: 80%;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}

.jeffs-story .story .bio strong,
.nicoles-story .story .bio strong {
  text-align: left;
}

.map-wrapper {
  position: relative;
  float: left;
  z-index: 47;
  width: 32.4005208333%;
  height: 392px;
  margin: 24px 0 0 8.39974%;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.nicoles-story {
  position: relative;
  float: left;
  clear: both;
  z-index: 29;
  width: 100%;
  margin-top: 1000px;
  padding-bottom: 100px;
  background-color: rgb(255, 250, 245);
}

.nicoles-story .story {
  width: 80%;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}

.pic {
  position: relative;
  float: left;
  border-width: 5px;
  border-style: solid;
  background-size: cover;
  background-position: center center;
  background-color: rgb(222, 222, 222);
}

.price {
  float: left;
  width: 100.0024112848%;
  min-height: 53px;
  margin-top: 30px;
  font-size: 2.25em;
  line-height: 3;
  text-align: center;
  color: rgb(0, 0, 0);
}

.rsvp {
  display: block;
  float: left;
  width: 17.9874213836%;
  height: 60px;
  margin-left: 2.36439%;
  border: 5px solid rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.rsvp:hover {
  border-color: rgb(122, 64, 196);
  background-color: rgb(122, 64, 196);
}

.section {
  font: normal 2.25em/1 JaneAusten;
  color: rgb(122, 64, 196);
}

.slide {
  float: left;
  width: 100%;
  min-height: 1000px;
  background-size: cover;
}

.story {
  float: left;
  clear: both;
  margin: 60px 0 0 10%;
}

.story .bio {
  font-size: 1em;
}

.nicoles-story .strong-bio {
  margin-bottom: 2em;
}

.jeffs-story .strong-bio {
  margin-bottom: 1.25em;
}

.text {
  line-height: 1.38;
}

.the-event {
  position: relative;
  float: left;
  clear: both;
  z-index: 49;
  width: 100%;
  margin-top: 940px;
  padding-bottom: 100px;
  background-color: rgb(255, 250, 245);
}

.the-event .details {
  position: relative;
  clear: both;
  z-index: 46;
  width: 25.6%;
  margin: 24px 0 0 16.79948%;
}

.the-event .down-arrow {
  width: 12%;
  margin: 230px 0 0 44%;
  line-height: 1.38;
  color: rgb(122, 64, 196);
}

.the-event .section {
  float: left;
  margin: 100px 0 0 16.79948%;
}

.the-party {
  position: relative;
  float: left;
  clear: both;
  z-index: 60;
  width: 100%;
  margin-top: 950px;
  padding-bottom: 100px;
  background-color: rgb(255, 250, 245);
}

.the-party .down-arrow {
  width: 12%;
  margin: 200px 0 0 44%;
  line-height: 1.38;
  color: rgb(122, 64, 196);
}

.the-party .pic {
  //*clear: both;*//
  float: left;
  width: 18.8333333333%;
  height: 220px;
  margin-left: 1.5%;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.the-party .section {
  width: 66.3333333333%;
  margin: 100px auto 0;
  text-align: center;
}

.the-proposal {
  position: relative;
  float: left;
  clear: both;
  z-index: 44;
  width: 100%;
  margin-top: 1000px;
  padding-bottom: 100px;
  background-color: rgb(255, 250, 245);
}

.the-proposal .pic {
  height: 300px;
  border-color: rgb(255, 250, 245);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.the-proposal .section {
  float: left;
  margin: 100px 0 0 16.83073%;
}

.welcome {
  position: relative;
  float: left;
  clear: both;
  z-index: 63;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(255, 250, 245);
}

.welcome .down-arrow {
  width: 12%;
  height: 150px;
  margin: 60px 0 0 44%;
  line-height: 1.38;
  color: rgb(122, 64, 196);
}

.welcome .text {
  float: left;
  width: 66.4005208333%;
  min-height: 74px;
  margin: 150px 0 0 16.79948%;
  font-family: JaneAusten;
  font-size: 3.5em;
  font-weight: normal;
  color: rgb(122, 64, 196);
}

._button {
  display: block;
  float: left;
  clear: both;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
}

._input {
  display: block;
  float: left;
  height: 60px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._button {
  width: 99.7362012987%;
  height: 60px;
  margin: 40px 0 0 -0.12716%;
  border: 5px solid rgb(122, 64, 196);
  font-weight: 400;
  color: rgb(122, 64, 196);
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}

.container ._button:hover {
  background-color: rgb(122, 64, 196);
  color: rgb(255, 255, 255);
}

.hotel-block ._button {
  width: 68.5673701298%;
  height: 62px;
  margin-left: 15.58809%;
  background-color: rgb(122, 64, 196);
  font-weight: 700;
  color: rgb(255, 250, 245);
}

.empty-pic-1 {
  z-index: 52;
  margin-top: 30px;
  border-width: 5px;
  background-image: url('http://i.imgur.com/3MjpBiz.jpg');
  background-size: cover;
}

.empty-pic-2 {
  z-index: 53;
  margin-top: 30px;
  background-image: url('http://i.imgur.com/sazTDRj.jpg');
  background-size: cover;
}

.empty-pic-3 {
  z-index: 54;
  margin-top: 30px;
  background-image: url('http://i.imgur.com/RYzUwN7.jpg');
  background-size: cover;
}

.empty-pic-4 {
  z-index: 56;
  margin-top: 20px;
  background-image: url('http://i.imgur.com/S9CJ251.jpg');
  background-size: cover;
}

.empty-pic-5 {
  z-index: 57;
  margin-top: 20px;
  background-image: url('http://i.imgur.com/NOkgmwB.jpg');
  background-size: cover;
}

.empty-pic-6 {
  z-index: 58;
  margin-top: 20px;
  background-image: url('http://i.imgur.com/5oOn1tp.jpg');
  background-size: cover;
}

.herotitle-1 {
  position: relative;
  float: left;
  z-index: 17;
  width: 80%;
  margin: 110px 0 0 10%;
}

.hotel-1 {
  width: 100%;
}

.hotel-2 {
  width: 100%;
}

.hotel-block-1 {
  clear: both;
  z-index: 66;
  margin-left: 16.83073%;
}

.hotel-block-2 {
  z-index: 71;
  margin-left: 1.58073%;
}

.party-container {
  margin-left: 10%;
}


.container-1 {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 60px;
}

.container-10,
.container-11,
.container-13,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9 {
  width: 52.6901041666%;
  margin-top: 30px;
}

.container-12,
.container-14,
.container-15 {
  width: 66.3333333333%;
  margin-top: 30px;
}

.container-2 {
  width: 52.6901041666%;
  height: 66px;
}

.pic-1 {
  clear: both;
  z-index: 39;
  width: 32.4005208333%;
  margin: 55px 0 0 16.79948%;
  background-image: url('../images/SparklingDiamond.jpg');
}

.pic-2 {
  z-index: 40;
  width: 32.3997395833%;
  margin: 55px 0 0 1.59896%;
  background-image: url('../images/RomanticKiss.jpg');
}

.pic-3 {
  clear: both;
  z-index: 41;
  width: 32.3997395833%;
  margin: 20px 0 0 16.79948%;
  background-image: url('../images/HappyHugs.jpg');
}

.pic-4 {
  z-index: 42;
  width: 32.3997395833%;
  margin: 20px 0 0 1.66667%;
  background-image: url('../images/PutARingOnIt2.jpg');
}

.pic-5 {
  z-index: 51;
  margin-top: 30px;
  background-image: url('../images/10299089_10154116046385052_2097675454631917372_n.jpg');
}

.pic-6 {
  z-index: 55;
  margin-top: 20px;
  background-image: url('../images/162703_10150138163230961_4830296_n.jpg');
}

.slide-1 {
  height: 756px;
  background-image: url('../images/Nicole-Jeff-Engagement-230(2).jpg');
  background-repeat: no-repeat;
  background-position: 50% 89%;
}

.slide-2 {
  clear: both;
  height: 1059px;
  background-image: url('../images/Nicole-Jeff-Engagement-164(2).jpg');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.slide-3 {
  clear: both;
  height: 1059px;
  background-image: url('../images/Nicole-Jeff-Engagement-242(2).jpg');
  background-position: 50% 90%;
  background-color: rgb(122, 64, 196);
}

.slide-4 {
  clear: both;
  height: 1059px;
  background-image: url('../images/TheQuestion(2).jpg');
  background-repeat: no-repeat;
  background-position: left center;
}

.slide-5 {
  clear: both;
  height: 1059px;
  margin-top: 150px;
  background-image: url('../images/Evening-from-lawn-2editedGershon-Wolfe-small.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-6 {
  clear: both;
  height: 1059px;
  background-image: url('../images/Nicole-Jeff-Engagement-143(2).jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-7 {
  clear: both;
  height: 1059px;
  background-image: url('../images/2000x1352.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.slide-8 {
  clear: both;
  height: 1059px;
  background-image: url('../images/Nicole-Jeff-Engagement-139(2).jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.text-1 {
  width: 66.4005208333%;
  margin: 150px 0 0 16.79948%;
  font-size: 3.5em;
  text-align: center;
  color: rgb(122, 64, 196);
}

.text-2 {
  clear: both;
  width: 32.6666666666%;
  margin: 50px 0 0 23.70573%;
  font-size: 2.063em;
  color: rgb(45, 43, 48);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.text-3 {
  width: 39.1666666666%;
  margin: 143px auto 0;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.hero-form ._input-1 {
  width: 59.1194968553%;
  margin-left: 0.04914%;
}

.hero-form ._input-2 {
  width: 18.1132075471%;
  margin-left: 2.3565299999%;
}

.hotel-block ._button-1 {
  margin-top: 147px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}

.hotel-block ._button-1:hover {
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}

.hotel-block ._button-2 {
  margin-top: 147px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}

.hotel-block ._button-2:hover {
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  -ms-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}

.bio span {
  font-style: italic;
}

.bio strong {
  font-size: 1.8em;
}

.bio-1 strong {
  font-weight: inherit;
}

.bio-2 strong,
.bio-5 strong {
  font-weight: 100;
}

.details a {
  text-decoration: inherit;
  color: rgb(122, 64, 196);
}

.details a:hover {
  text-decoration: underline;
}

.details span {
  font-weight: 700;
  color: rgb(122, 64, 196);
}
